@font-face {
  /* طريقة تضمين الخط في الملف*/
  font-family: ar-font;
  src: url(../fonts/Cairo-SemiBold.ttf);
}

body {
  direction: rtl;
  /*لجعل اتجاه الخط من اليمين لليسار لان صفحة الويب عربيه*/
  font-family: ar-font;
  /*جعل الخط اللي اضفناه للملف هو الخط الافتراضي لصفحة الويب */
}

header {
  background-image: url(../image/header-bg.jpg);
  background-size: cover;
  /*يجعل القيمه ثابته للصوره بحيث يجعل الصورة باكبر حجم لتغطي العنصر كامل  */
  background-position: center center;
}

header .brand {
  padding: 20px 10px;
  margin: 80px auto 50px;
  border-bottom: 5px solid #474c55;
  display: inline-block;
  /* لجعل العرض للعناصر بحجمها المحدد */
}

/* تحديد حجم الخط وشدته والتباعد بين الأسطر واللون للعنوان الرئيسي */

header .page-heading h1 {
  font-size: 60px;
  font-weight: bold;
  line-height: 75px;
  color: #fff;
}

/* وجعل عرض الفقرة 40% من قيمة عرض الصفحة p تحديد حجم الخط والتباعد بين الأسطر واللون للفقرة */

header .page-heading p {
  width: 40%;
  font-size: 18px;
  line-height: 25px;
  color: #acacac;
  /* auto وتحديد القيمة 0 margin توسيط أي عنصر يمتلك عرض محدد باستخدام الخاصية */
  margin: 0 auto;
}

/* تطبيق تنسيقات الخط على الأرقام، وجعلها في أسطر مختلفة */

header .counter .is-countdown .countdown-section .countdown-amount {
  display: block;
  font-size: 60px;
  font-weight: bold;
  color: #ffce00;
}

/* تطبيق تنسيقات الخط على العامل الزمني، وجعله في أسطر مختلفة */

header .counter .is-countdown .countdown-section .countdown-period {
  display: block;
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
}

/* تظهر في خط واحد وتحديد هامش لها count-section جعل جميع عناصر الصنف */

header .counter .is-countdown .countdown-section {
  display: inline-block;
  margin: 0 20px;
}

/* تطبيق هامش وحاشية على العداد في الصفحة */

header .counter {
  margin: 60px auto;
  padding: 30px;
}

/* تنسيق حجم الخط ولونه ونوع الخط لنموذج البريد الإلكتروني */

header .send-notification p {
  font-size: 18px;
  color: #fff;
}

/* تنسيق الخط والحدود داخل نموذج البريد الإلكتروني */

header .send-notification .input-group input, footer .input-group, footer .input-group input {
  border-radius: 0;
  font-size: 18px;
  font-family: ar-font;
  color: #000;
  border-width: 2px;
  border-color: #e6e6e6;
}

/* تنسيق لون وحجم الزر المستخدم لإرسال البريد الإلكتروني */

header .send-notification .input-group button, footer .input-group button {
  border-radius: 0;
  background-color: #ffce00;
  padding: .5rem 1.5rem;
}

footer button {
  background-color: #393939 !important;
}

/* تصغير حجم نموذج إدخال البريد الإلكتروني ليصبح 30% من حجم الصفحة */

header .send-notification .input-group, footer .input-group {
  width: 30%;
  margin: 0 auto;
}

/* تغير موضع رسائل التحذير وإخفائها */

header .send-notification .input-group .alert, footer .input-group .alert {
  position: absolute;
  top: 110%;
  right: 0;
  /* هون لتوسيط رسائل التحذير وجعلها في منتصف الشاشة نجعل اليمين واليسار يساوي الصفر */
  left: 0;
  margin-bottom: 30px;
  display: none;
}

/*- تنسيق إلغاء التأثيرات الحركية فى شاشات الجوال -*/

/*- animate.css فى حالة استخدام الاصدار رقم 4 من مكتبة -*/

@media (max-width: 768px) {
  .animate__bounceIn {
    animation-name: none !important;
  }
  .animate__fadeInUp {
    animation-name: none !important;
  }
  .animate__fadeInDown {
    animation-name: none !important;
  }
  .animate__zoomIn {
    animation-name: none !important;
  }
}

/* تنسيق لون وحجم الخط في العنوان */

section.features h2 {
  margin-bottom: 50px;
  font-size: 45px;
  color: #555555;
}

/* تطبيق حاشية للعنوان الجديد */

section.features {
  padding: 100px 0;
  position: relative;
  text-align: right;
}

section.features .media {
  border: 4px solid #fafafa;
  padding: 40px 10px;
  margin-bottom: 20px;
  position: relative;
  max-height: 190px;
}

/* ضبط قيم الحاشية والهامش والحد */

section.features .media {
  border: 4px solid #fafafa;
  padding: 40px 10px;
  margin-bottom: 20px;
}

/* تنسيق الخط في العنوان */

section.features .media .media-body h5 {
  font-size: 24px;
  color: #555;
}

/* تنسيق الخط في الفقرات النصية */

ection.features .media .media-body p {
  font-size: 15px;
  line-height: 25px;
  color: #9c9c9c;
}

/* جعل محاذاة النص لليسار في البطاقات التي رقمها زوجي*/

section.features div[class*="col-"]:nth-child(even) {
  text-align: left;
}

/* إضافة الصورة إلى خلفية تذييل الصفحة وتوسيطها */

footer {
  background-image: url(../image/footer-bg.jpg);
  background-size: cover;
  background-position: center center;
}

/* إضافة الطبقة الصفراء الشفافة على الخلفية وضبط الحاشية الخاصة بها */

footer .top-footer .overlay {
  background-color: rgba(255, 204, 0, 0.7);
  padding: 60px 0;
}

/* التنسيقات المطبقة على خط العنوان */

footer .top-footer .overlay h3 {
  font-size: 30px;
  width: 80%;
  margin: 0 auto 30px;
}

/* تنسيق صندوق الإدخال */

footer .top-footer .overlay .input-group input:hover, footer .top-footer .overlay .input-group input:focus {
  box-shadow: 0 0 0;
  border-color: #fff;
}

/* تنسيق طول حقل الإدخال */

footer .top-footer .overlay .input-group input {
  height: auto;
}

/* تنسيق الخط داخل النموذج */

footer .top-footer .overlay .input-group input {
  border-radius: 0;
  font-size: 18px;
  font-family: ar-font;
  color: #c7c7c7;
  border-color: #fff;
}

/* تصغير حجم نموذج الإرسال وضبط الحاشية والهامش */

footer .top-footer .overlay .input-group {
  width: 30%;
  margin: 0 auto;
  position: relative;
}

/* تنسيق اللون وضبط الحاشية في تذييل الصفحة */

footer .contact .overlay {
  background-color: rgba(28, 28, 28, 0.7);
  padding: 60px 0 10px;
  color: #fff;
}

/* h3 تنسيق اللون وحجم الخط في العنوان */

footer .contact .overlay h3 {
  font-size: 30px;
  margin: 0 auto 30px;
}

footer .contact .overlay ul li a {
  width: 70px;
  height: 70px;
  line-height: 70px;
  display: block;
  background-color: rgba(255, 255, 255, 0.14);
  color: #fff;
  font-size: 2em;
}

/* تطبيق هامش على الأيقونات */

footer .contact .overlay ul li {
  margin: 0 5px;
}

/* تغير لون خلفية الأيقونات عند مرور مؤشر الفأرة عليها */

footer .contact .overlay ul li a:hover {
  background-color: #ffce00;
  color: #474c55;
}

/* إضافة خط أفقي تحت الأيقونات */

footer .contact .overlay hr {
  width: 25%;
  border-top: 3px solid rgba(255, 255, 255, 0.1);
  margin-top: 50px;
}

/* تنسيق أيقونة الظرف وإضافة مسافة بينها وبين البريد الإلكتروني */

footer .contact .overlay p a {
  color: #b4b4b4;
}

footer .contact .overlay p a i {
  color: #ffce00;
  margin-left: 5px;
}

/*تنسيق مسؤول عن درجة نعومة التأثير*/

footer .contact .overlay ul li a {
  -webkit-transition: all 0.3s ease;
  Transition: all 0.3s ease;
}

@media (max-width: 1000px) {
  section.features .media {
  padding-top: 10px !important;
  max-height: 220px;  
  }
}